@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0 20px;
}

#title {
    text-align: center;
    margin-top: 60px;
    margin-bottom: 5px;
    font-size: 45px;
}

#second-title {
    text-align: center;
    margin-bottom: 70px;
    font-size: 25px;
}

#button-container {
    display: block;
    align-items: center;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: 0 auto;
    border-radius: 20px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}

.button-row {
    display: inline;
}

.button {
    box-shadow: rgba(0, 0, 0, 0.23) 0px 10px 12px;
    margin: 20px;
    display: inline;
    text-align: center;
    border-radius: 10px;
    border-width: 0.5px;
    padding: 15px 45px;
    font-size: 35px;

    outline: 0;
    border: none;
    background-color: #00000007;
}

.button:hover {
    background-color: #0000000d;
    cursor: pointer;
}
